.home-page {
  position: fixed;
  z-index: -3;
  background: #0a2520;
  height: 100%;
  width: 100%;
  overflow: auto;
}

section .spreads {
  position: absolute;
  filter: blur(250px);
  z-index: -2;
}

section .spreads:nth-child(1) {
  background-color: #3b59c5;
  height: 200px;
  width: 200px;
  margin-left: 25rem;
  margin-top: 10rem;
}

section .spreads:nth-child(2) {
  background-color: #4fff23;
  height: 300px;
  width: 300px;
  margin-left: 60rem;
  margin-top: 30rem;
}

.quote-section {
  display: flex;
  justify-content: space-between;
  padding: 0 10vw;
  position: relative;
  margin-top: -10rem;
}

.quote-section p {
  width: 6rem;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.therapy-sec,
.health-section {
  margin-top: 10rem;
}
